/*Navbar style*/
ul.navbar-nav {
	margin: 0;
	padding-top: 0 0 0 0;
}
li.my-nav-item, li.my-nav-button {
	padding:0;
	margin-right:30px;
	float:left;
	list-style-type:none;
}

li.my-nav-item {
	padding-top:15px;
	font-size:12pt;
	color:#FFF;
}

img.post-image{
    width:64px;
    height:64px;
}
a.edit-post, a.remove-post {
	padding-left:10px;
	text-decoration: none;
}



