.post {
	width: 400px;
	height: 140px;
	padding: 10px;
	margin: 10px 0;
	background: #F1E6D5;

}
textarea#i_p_t, div.s_p_t {
	width: 400px;
	height: 100px;
	border: 0;

}

input.post_add {
	margin-top: 10px;
}

div.s_p_t {
	background: #FFF;
}